#display {

    justify-content: left;
    align-content: left;
    position: fixed;
    text-align: center;
  color: white;
    background-color: black;
    width: 80%;
    height: 150px;
    margin-left: 40%;
    margin-top: 100px;


    
  }

.area {
    position: relative;
    width: 100%;
    max-width: 400px;
    
  }
  
  
  
  .area #button-1, #button-2, #button-3, #button-4, #button-5, #button-6, #button-7, #button-8, #button-9, #button-10, #button-11, #button-12  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;https://www.w3schools.com/howto/img_snow.jpg
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  
  }
  
  .area #button-1:hover {
    background-color: black;
  }

  #expandedImg {
      width: 50%;
      position: fixed;
      top: 80px;
      right: 0;
      width: 50%;
      height: auto;
      margin-top: 190px;
      border: yellow;
  }




